{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
          {{ message }} 
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-4">
      <form action="{{ url_for('calculation.process_dataset') }}", method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name_of_the_feature.label }}<br>
          {{ form.name_of_the_feature() }}
        </div>
        <div class="form-group">
          {{ form.n_samples.label }}<br>
          {{ form.n_samples() }}
          </div>
        <div class="form-group">
          {{ form.n_features.label }}<br>
          {{ form.n_features() }}
        </div>
        <div class="form-group">
          {{ form.applicant.label }}<br>
          {{ form.applicant() }}
        </div>
        {{ form.submit() }}    {{ form.submit1() }}
      </form>
      <div class="col-8">  
      </div>            
    </div>
  </div>
{% endblock %}