{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
          {{ message }} 
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container">
    <div class="row">
      <div class="col-4">
        <form action="{{ url_for('calculation.process_dataset') }}", method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.name_of_the_feature.label }}<br>
            {{ form.name_of_the_feature() }}
          </div>
          <div class="form-group">
            {{ form.n_samples.label }}<br>
            {{ form.n_samples() }}
            </div>
          <div class="form-group">
            {{ form.n_features.label }}<br>
            {{ form.n_features() }}
          </div>
          <div class="form-group">
            {{ form.applicant.label }}<br>
            {{ form.applicant() }}
          </div>
          {{ form.submit() }}
        </form>
      </div>  
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Thomas_Bayes.gif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Наивный Байес</h5>
            <p class="card-text">Если Вы завершили ввод данных, нажмите на кнопку ниже:</p>
            <a href="{{ url_for('calculation.process_export_csv') }}", method="get", class="btn btn-danger">Сохранить DataSet</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://scikit-learn.org/stable/_images/sphx_glr_plot_svm_margin_002.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Определите у какого претендента передпочтение.</h5>
            <p class="card-text">Начните расчёт:</p>
            <a href="{{ url_for('calculation.engine') }}", method="get", class="btn btn-success">Расчитать</a>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Передпочтение у претендента
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
{% endblock %}