{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
          {{ message }} 
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-4">
      <form action="{{ url_for('calculation.process_dataset') }}", method="post">

        <div class="form-group">
          {{ form.name_of_the_feature.label }}<br>
          {{ form.name_of_the_feature() }}
        </div>
        <div class="form-group">
          {{ form.frequency_1.label }}<br>
          {{ form.frequency_1() }}
          </div>
        <div class="form-group">
          {{ form.frequency_2.label }}<br>
          {{ form.frequency_2() }}
        </div>
        <div class="form-group">
          {{ form.probability_1.label }}<br>
          {{ form.probability_1() }}
        </div>
        <div class="form-group">
          {{ form.probability_2.label }}<br>
          {{ form.probability_2() }}
        </div>
        {{ form.submit() }}
      </form>
      <div class="col-8">  
      </div>            
    </div>
  </div>
{% endblock %}